/* Base */
/* Dots */
/* From Bottom */
@keyframes fromBottom {
  0% {
    transform: translateY(10px); }
  100% {
    transform: translate(0px); } }
/* Reset */
body {
  background-color: #fff; }
  body a {
    color: inherit;
    text-decoration: none; }
    body a:hover {
      color: inherit;
      text-decoration: none; }
  body * {
    outline: none !important; }

/* Components */
/* Modal */
/* Layouts */
/* Header */
/* Sidebar */
/* Footer */
/* Pages */
/* Home */
/* Single */
/* Vendors */
/* Responsive */
/* Max Width: 1199px */
/* Min Width: 1200px */
/* Max Width: 991px */
/* Min Width: 992px */
/* Max Width: 767px */
/* Min Width: 768px */
/* Max Width: 575px */
/* Min Width: 576px */
/* Max Width: 480px */

/*# sourceMappingURL=main.css.map */
